<!-- external JS libs -->
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script src="/bootstrap/js/bootstrap.min.js"></script>
<script src="/js/code-script.js"></script>
<script src="/js/jquery.backstretch.min.js"></script>
<script src="/js/scripts-login.js"></script>
<!-- Javascript Files
    ================================================== -->
<!-- Custom js -->
<script src="js/custom.js"></script>
<!-- internal JS libs -->
<script type="text/javascript" src="/js/question.js"></script>
