{% extends "base.html" %}

{% block content %}

    <!-- Top content -->
    <div class="top-content">
        <div class="inner-bg" id="initial-pg">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2 text">
                        <h1><strong>Code Mangler</strong> Registration</h1>
                        <div class="description">
                            <p>
                                Practice your programming skills,
                                test your knowledge in Object Oriented Programming,
                                become the best..
                                Currently supporting only <a href="https://docs.python.org/3/"><strong>PYTHON
                                3.5+</strong></a>,
                                use any available documentations!
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-3 form-box">

                        <form role="form" action="" method="post" class="registration-form">

                            <fieldset>
                                <div class="form-top">
                                    <div class="form-top-left">
                                        <h3>Step 1 / 2</h3>
                                        <p>Tell us who you are:</p>
                                    </div>
                                    <div class="form-top-right">
                                        <i class="fa fa-user"></i>
                                    </div>
                                </div>
                                <div class="form-bottom">
                                    <div class="form-group">
                                        <label class="sr-only" for="form-username">Username</label>
                                        <input type="text" name="username" placeholder="Username..."
                                               class="form-username form-control" id="form-username">
                                    </div>
                                    <div class="form-group">
                                        <label class="sr-only" for="form-first-name">First name</label>
                                        <input type="text" name="first-name" placeholder="First name..."
                                               class="form-first-name form-control" id="form-first-name">
                                    </div>
                                    <div class="form-group">
                                        <label class="sr-only" for="form-last-name">Last name</label>
                                        <input type="text" name="last-name" placeholder="Last name..."
                                               class="form-last-name form-control" id="form-last-name">
                                    </div>
                                    {% if error %}
                                        <p id="error-red"><strong>Error: </strong>{{ error }}</p>
                                    {% endif %}
                                    <button type="button" class="btn btn-next">Next</button>
                                </div>
                            </fieldset>

                            <fieldset>
                                <div class="form-top">
                                    <div class="form-top-left">
                                        <h3>Step 2 / 2</h3>
                                        <p>Set up your account:</p>
                                    </div>
                                    <div class="form-top-right">
                                        <i class="fa fa-twitter"></i>
                                    </div>
                                </div>
                                <div class="form-bottom">
                                    <div class="form-group">
                                        <label class="sr-only" for="form-email">Email</label>
                                        <input type="text" name="email" placeholder="Email..."
                                               class="form-email form-control" id="form-email">
                                    </div>
                                    <div class="form-group">
                                        <label class="sr-only" for="form-password">Password</label>
                                        <input type="password" name="password" placeholder="Password..."
                                               class="form-password form-control" id="form-password">
                                    </div>
                                    <div class="form-group">
                                        <label class="sr-only" for="form-repeat-password">Repeat password</label>
                                        <input type="password" name="repeat-password" placeholder="Repeat password..."
                                               class="form-repeat-password form-control" id="form-repeat-password">
                                    </div>
                                    <p id="error-red"></p>
                                    <p id="error-green"></p>
                                    <button type="button" class="btn btn-previous">Previous</button>
                                    <button type="submit" class="btn" id="signup" disabled>Sign me up!</button>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-3 social-login">
                        <h3>...or signup with:</h3>
                        <div class="social-login-buttons">
                            <a class="btn btn-link-1 btn-link-1-facebook" href="#">
                                <i class="fa fa-facebook"></i> Facebook
                            </a>
                            <a class="btn btn-link-1 btn-link-1-twitter" href="#">
                                <i class="fa fa-twitter"></i> Twitter
                            </a>
                            <a class="btn btn-link-1 btn-link-1-google-plus" href="#">
                                <i class="fa fa-google"></i> Google
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% include "jslibraries.html" %}
{% endblock %}