{% extends "base.html" %}
{% block head %}
    <link href="/css/datatable.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.11/css/jquery.dataTables.min.css">
{% endblock %}
{% block content %}
    {% include 'navbar-admin.html' %}
    <!-- Top content -->
    <div class="top-content">
        <div class="inner-bg">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2 text">
                        <div class="form-box">
                            <div class="form-top">
                                <div class="form-top-left">
                                    <h3>Upload</h3>
                                </div>
                                <div class="form-top-right">
                                    <i class="fa fa-pencil"></i>
                                </div>
                            </div>
                            <div class="form-bottom">
                                <form role="form" action="" method="post" class="upload-form">
                                    <div class="form-group">
                                        <label class="sr-only" for="form-question">Question</label>
                                        <input type="text" name="form-question" placeholder="Question..."
                                               class="form-question form-control" id="form-question" required>
                                    </div>
                                    <div class="form-group">
                                        <label class="sr-only" for="form-category">Category</label>
                                        <input type="text" name="form-category" placeholder="Category..."
                                               class="form-category form-control" id="form-category" required>
                                    </div>

                                    <div class="form-group">
                                        <label class="sr-only" for="form-solution">Code</label>
			                        	<textarea name="form-solution" placeholder="Copy paste your code..."
                                                  class="form-solution form-control"
                                                  id="form-solution" required></textarea>
                                    </div>
                                    <div class="form-group">
                                        <label class="sr-only" for="form-input">Input Description</label>
			                        	<textarea name="form-input" placeholder="Enter Input Description..."
                                                  class="form-input form-control"
                                                  id="form-input" required></textarea>
                                    </div>
                                    <div class="form-group">
                                        <label class="sr-only" for="form-output">Output Description</label>
			                        	<textarea name="form-output" placeholder="Enter Output Description..."
                                                  class="form-output form-control"
                                                  id="form-output" required></textarea>
                                    </div>
                                    <div class="form-group">
                                        <label class="sr-only" for="form-test">Test Cases</label>
                                        <textarea name="form-test" placeholder="One valid assert statement per line (e.g. assert solution([1,2,3])==6)"
                                               class="form-test form-control" id="form-test" required></textarea>
                                    </div>
                                    <div class="form-group">
                                        <label class="sr-only" for="form-difficulty">Difficulty</label>
                                        <input type="text" name="form-difficulty" placeholder="Difficulty from 1-5..."
                                               class="form-difficulty form-control" id="form-difficulty" required>
                                    </div>
                                    <button type="submit" class="btn">Upload</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    </div>
    {% include 'jslibadmin.html' %}
    {% include 'jslibraries.html' %}
{% endblock %}
