{% extends "base.html" %}

{% block content %}
  <div id="maindiv">
  <div id="dragdiv">
    <ul id="allItems" runat="server">
      <li id="node1">01 | for i in range(len(A)):</li>
      <li id="node2">02 | else:</li>
      <li id="node3">03 | leftsum = 0</li>
      <li id="node4">04 | return i</li>
      <li id="node5">05 | totalSum = sum(A)</li>
      <li id="node6">06 | leftSum += A[i]</li>
      <li id="node7">07 | def equilibriumIndex(A):</li>
      <li id="node8">08 | if (leftsum == totalSum</li>
     </ul>
    </div>
  </div>
{% endblock %}
